---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Conversation",
    price: "Free",
    popular: false,
    features: [
      "Free introductory phone call",
      "Discuss budget, timeline, wants",
      "Custom to needs of customer",
      "In shop/remote",
      
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Consultation",
    price: "$295",
    popular: true,
    features: [
      "All Free Features",
      "In store or at home consultation",
      "Preparation for a full time job",
      "Unlimited time",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Custom Consulting",
    price: "Custom",
    popular: false,
    features: [
      "All Consultation Features",
      "flexibility: home or commercial",
      "Custom paint and wallpaper",
      "Access to dealer network",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
